<div class="container">
  <h3>Your Portfolio</h3>

  <div class="" style="margin: 0.1em;" width="100%">
    <canvas *ngIf="chart"  id="canvas" >{{ chart }}</canvas>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Strategy Type</th>
      <th>Ticker</th>
      <th>Quantity</th>
      <th>Exit Rule</th>
      <th>Percentage</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let strat of stratObjs">
      <td *ngIf="strat.standardDeviation">Bollinger Bands</td> <td *ngIf="strat.longAverageSeconds">Two Moving Avgs</td>
      <td>{{ strat.ticker }}</td>
      <td>{{ strat.stockQuantity }}</td>
      <td>{{ strat.exitRule }}</td>
      <td>{{ strat.exitPercentage }}</td>
      <td><button class="btn btn-danger" (click)="deleteStrat(strat.id)">Disable</button></td>
      <td><button class="btn btn-primary" (click)="expandStrat(strat.id)">Expand</button></td>
    </tr>
    </tbody>
  </table>
</div>
