<div class="container" style="margin-bottom: 1.1em;">
  <h3>Add Strategy</h3>


  <div class="container">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Strategy Type</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click)="setTwoMovingAveragesForm()">Two Moving Averages</button>
        <button class="dropdown-item" (click)="setBollingerBandsForm()">Bollinger Bands</button>
      </div>
    </div>
  </div>



  <div class="container" *ngIf="stratSelected">
    <form class="form-inline" (ngSubmit)="stratForm.form.valid && addStrategy()" #stratForm="ngForm">

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="ticker">Stock Ticker</label>
        <input type="text" id="ticker" required [(ngModel)]="strategy.ticker" name="ticker">

      </div>

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="stockQuantity">Quantity</label>
        <input type="text"  id="stockQuantity" required [(ngModel)]="strategy.stockQuantity" name="numStocks" >

      </div>

      <!--FOR BOLLINGER BANDS-->
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" *ngIf="isBollingerBand">
          <label  class="mr-sm-2" for="avgSeconds">Average Duration</label>
          <input type="text" class="form-control" id="avgSeconds" required [(ngModel)]="strategy.avgSeconds" name="avgSeconds" >
        </div>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0" *ngIf="isBollingerBand">
          <label class="mr-sm-2" for="standardDeviation">Num Standard Deviations</label>
          <input type="text" class="form-control" id="standardDeviation" required [(ngModel)]="strategy.standardDeviation" name="standardDeviation" >
        </div>



      <!--FOR TwoMovingAverages-->
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" *ngIf="isTwoMovingAverages">
          <label  class="mr-sm-2" for="longVal">Long Duration</label>
          <input type="text" class="form-control" id="longVal" required [(ngModel)]="strategy.longAverageSeconds" name="longVal" >
        </div>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0" *ngIf="isTwoMovingAverages">
          <label class="mr-sm-2" for="shortVal">Short Duration</label>
          <input type="text" class="form-control" id="shortVal" required [(ngModel)]="strategy.shortAverageSeconds" name="shortVal" >
        </div>



      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="exitRule">Exit Rule</label>
        <select  class="custom-select" id="exitRule" [(ngModel)]="strategy.exitRule" name="exitRule">
          <option value="profit">Profit</option>
          <option value="loss">Loss</option>
        </select>
      </div>



      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="exitPercentage">Exit Rule Percentage</label>
        <input type="text" class="form-control" placeholder="Default 0.2 w. Loss" id="exitPercentage" [(ngModel)]="strategy.exitPercentage" name="exitPercentage" >
      </div>

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="name">Custom Name</label>
        <input type="text" class="form-control" placeholder="Optional" id="name" [(ngModel)]="strategy.name" name="name" >
      </div>

       <button type="submit" class="btn btn-sm btn-success">Create Strategy</button>


    </form>
  </div>



</div>

