<div class="container">
  <h3>Your Portfolio</h3>

  <div *ngIf="!chartIsLoading" style="margin: 0.1em;" width="100%">
    <h5>Strategy P&amp;L</h5>
    <canvas id="canvas" >{{ chart }}</canvas>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Strategy Type</th>
      <th scope="col">Ticker</th>
      <th scope="col">Quantity</th>
      <th scope="col">Exit Rule</th>
      <th scope="col">Percentage</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let strat of stratObjs" scope="row">
      <td *ngIf="strat.standardDeviation">Bollinger Bands</td> <td *ngIf="strat.longAverageSeconds">Two Moving Avgs</td>
      <td>{{ strat.ticker }}</td>
      <td>{{ strat.stockQuantity }}</td>
      <td>{{ strat.exitRule }}</td>
      <td>{{ strat.exitPercentage }}</td>
      <td><button class="btn btn-danger" (click)="deleteStrat(strat.id)">Disable</button></td>
      <td><button class="btn btn-primary" (click)="expandStrat(strat.id)">Expand</button></td>
    </tr>
    </tbody>
  </table>
</div>
