<div class="container">
  <h3>Add Strategy</h3>


  <div class="container">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Strategy Type</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click)="setTwoMovingAveragesForm()">Two Moving Averages</button>
        <button class="dropdown-item" (click)="setBollingerBandsForm()">Bollinger Bands</button>
      </div>
    </div>
  </div>



  <div class="container" *ngIf="isTwoMovingAverages">
    <form class="form-inline" (ngSubmit)="addStrategy()">

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="ticker">Stock Ticker</label>
        <input type="text" id="ticker" required [(ngModel)]="strategy.ticker" name="ticker">

      </div>

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="stockQuantity">Quantity</label>
        <input type="text"  id="stockQuantity" required [(ngModel)]="strategy.stockQuantity" name="numStocks">

      </div>


      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label  class="mr-sm-2" for="longVal">Long Duration</label>
        <input type="text" class="form-control" id="longVal" required [(ngModel)]="strategy.longAverageSeconds" name="longVal">
      </div>

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="shortVal">Short Duration</label>
        <input type="text" class="form-control" id="shortVal" required [(ngModel)]="strategy.shortAverageSeconds" name="shortVal">
      </div>


      <!-- <div class="form-group">
         <label for="percentDeviation">Percent Deviation</label>
         <input type="text" class="form-control" id="percentDeviation" required [(ngModel)]="strategy.percentDeviation" name="percentDeviation">
       </div> -->

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <!--<label class="mr-sm-2" for="exitRule">Exit Rule</label>
        <input type="text" class="form-control" id="exitRule" required [(ngModel)]="strategy.exitRule" name="exitRule">-->
        <div ngbDropdown class="d-inline-block">
          <a class="btn btn-outline-primary"  id="exitRuleDropdown" ngbDropdownToggle> {{ exitRuleDropdownText }}</a>
          <div ngbDropdownMenu aria-labelledby="exitRuleDropdown">
            <a class="dropdown-item" (click)="setExitRule('profit')">Profit</a>
            <a class="dropdown-item" (click)="setExitRule('loss')">Loss</a>
          </div>
        </div>
      </div>

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="mr-sm-2" for="exitPercentage">Exit Rule Percentage</label>
        <input type="text" class="form-control" id="exitPercentage" required [(ngModel)]="strategy.exitPercentage" name="exitPercentage">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

</div>
